/*
	My Website 
	PRIMARY STYLE SHEET
	
	Site creation by Brisbane Creative
	Illustration and Graphics by Jim Whimpey
	xHTML/CSS and programming by Jim Whimpey
	Contact - office (at) brisbanecreative {dot} com [dot] au
*/

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		IMPORT ADDITIONAL SHEETS
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	@import url("./reset.css");
	@import url("./gecko.css");
	@import url("./webkit.css");
	@import url("./opera.css");




/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		BODY, WRAPPINGS, ANCHORS, anything sitewide
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	html {
		font-family: "Lucida Grande", Verdana, Arial, sans-serif;
		color: white;
		background: #051287;
		}
		
		body {
			width: 800px;
			margin: 40px auto;
			}