/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		IMPORT ADDITIONAL SHEETS
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	@import url("/reset.css");




/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		BODY, WRAPPINGS, ANCHORS, anything sitewide
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	body {
		font-family: Georgia, Times, serif;
		width: 846px;
		margin: 0 auto;
		background: url("./images/bg.png") no-repeat top center;
		}
		
		
		
		
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		HEADER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
			
	#header {
		width: inherit;
		height: 120px;
		}
		
		#header>* { float: left; }
		
		h1 {
			width: 227px;
			height: 89px;
			height: inherit;
			margin: 20px 0 0 10px;
			background: url("images/header-sprite.gif") no-repeat 0 0;
			text-indent: -9999px;
			}
			
			h1:hover { background-position: -268px 0; }
			
		#bike {
			width: 71px;
			height: 63px;
			margin: 35px 0 0 20px;
			background: url("images/bike.gif");
			}
			
		#information {
			margin: 35px 0 0 48px;
			padding: 0 15px 0 0;
			border-right: 1px solid #EFEEEC;
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 0.4em;
			line-height: 1.6em;
			}
			
			#information .location {
				padding: 0 0 8px 0;
				margin: 0 0 8px 0;
				border-bottom: 1px solid #EFEEEC;
				}
				
				#information .location sup {
					text-transform: lowercase;
					font-size: 8px !important;
					position: relative;
					top: -3px;
					}
					
				#information .location span {
					text-transform: lowercase;
					font-style: italic;
					}
					
			#information .days-remaining span {
				background: #DEDEDE;
				border: 1px solid #DEDEDE;
				padding: 3px 2px 3px 5px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				}
		
		#donate-now {
			width: 98px;
			height: 51px;
			margin: 44px 0 0 18px;
			}
			
			#donate-now a {
				display: block;
				width: inherit;
				height: inherit;
				background-image: url("images/donate-now-sprite.gif");
				text-indent: -9999px;
				}
				
				#donate-now a:hover { background-position: -98px 0; }
		
			
			
		
			
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		PROGRESS GRAPH
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#graph {
		height: 530px;
		margin: 0 0 20px 0;
		}
			
			
			
			
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		CONTENT
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
			
	#content {
		width: 100%;
		overflow: hidden;
		}
			
		.column {
			width: 413px;
			float: left;
			margin: -20px 0 0 0;
			}
			
			#column2 { float: right; }
			
		.column h2 {
			color: #BC0065;
			font: bold 16px Helvetica, Arial, "Lucida Grande", sans-serif;
			border-bottom: 1px solid #EFEEEC;
			padding: 0 0 3px 0;
			margin: 35px 0 15px 0;
			}
			
		.column p {
			font: normal 11px/1.8em Verdana, "Lucida Grande", sans-serif;
			margin: 0 0 10px 0;
			}
			
		.column em { font-style: italic; }
		
		.column a { color: #0080FF; text-decoration: none; }
		
			.column a:hover { color: #0053A6; }
			
		.column ul {
			font: normal 11px/1.8em Verdana, "Lucida Grande", sans-serif;
			list-style: square;
			margin: 0 0 14px 20px;
			}
		
		
			
			
			

/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		FOOTER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#footer {
		width: 100%;
		padding: 8px 0 0 0;
		border-top: 1px solid #EFEEEC;
		margin: 40px 0 20px 0;
		text-align: right;
		font: normal 11px/1.8em Verdana, "Lucida Grande", sans-serif;
		color: #666;
		}
		
		#footer a {
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: #507B22;
			}
			
			#footer a:hover { color: #6DB530; }
		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
			
			
			
			
			
			
			
			
			
			
			
			
			